<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/etl_ico.PNG">

    <title>Movies - Data - OMDB </title>

     <!-- Bootstrap core CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-uhut8PejFZO8994oEgm/ZfAv0mW1/b83nczZzSwElbeILxwkN491YQXsCFTE6+nx" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Bootstrap theme -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"> -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous"> -->
    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">
  </head>

  <body style="background-color:black;">

   <div class = "container" style="background-color:white;">
          <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Movies Zone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto "  style="float:right;">
            
              <li class="nav-item" >
                  <a class="nav-link" href="/process">Process</a>
                </li>
            <li class="nav-item dropdown active"  style="background-color:grey;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Data</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/TMDB_data">TMDB Raw Data</a>
                  <a class="dropdown-item" href="/OMDB_data">OMDB Raw Data</a>
                  <a class="dropdown-item" href="/COMB_data">Combined Dataset</a>
                </div>
              </li>
           
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Plots</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li> -->
          </ul>
          
        </div>
      </nav>
      <!-- NAVBAR END -->
            <div class = "row">
                <div class = "col-xs-12 col-md-12 col-lg-12" id = "dataTableHdr"  style = "background-color: white;">
                        <div class="page-header">
                                <h2>OMDB Data<small></small></h2>
                        </div>
                </div>
            </div>            
            <div class = "row">
                <div class = "col-xs-12 col-md-12 col-lg-12" id = "dataTable" style = "background-color: white;">
                        Below is the table containing OMDB data that was extracted, transformed and loaded onto MongoDB :
                        <br><br>
                    <div class = "table-responsive">
                        {{omdb_htm | safe}}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footerStyle" >
            <div class="container-fluid">
              <div class = "row">
                <div class="col-xs-0 col-md-2"></div>
                <div class = "col-xs-12 col-md-9 text-right">              
                  <a href="index.html" style="color:white;">
                          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                          <span class="border-bottom"><small>&nbsp;Home</small></span></a>
                  &nbsp;|&nbsp;
                  <a href="Comparison.html" style="color:white;">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                      <span class="border-bottom"><small>&nbsp;Comparison</small></span></a>
                  &nbsp;|&nbsp;
                  
                  <a href="CitiesData.htm" style="color:white;">
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                      <span class="border-bottom"><small>&nbsp;Data</small></span></a>
                </div>
                <div class="col-xs-0 col-md-1"></div>
              </div>
            </div>
          </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src = "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.dataframe').DataTable();
        } );
    </script>
    </body>
</html>